<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422071529058-1ponejrgfnmhk79p41c2e8bik65gc8bu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422071529058-1ponejrgfnmhk79p41c2e8bik65gc8bu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>422071529058-e96si4c7v8n4tp7f6h3613midbm9k4s9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHD8quJ0kvj0ffUyArEbkbDRKjrZa0HEc</string>
	<key>GCM_SENDER_ID</key>
	<string>422071529058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.asseerat</string>
	<key>PROJECT_ID</key>
	<string>asseerat-5b4bb</string>
	<key>STORAGE_BUCKET</key>
	<string>asseerat-5b4bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422071529058:ios:7784bc7dd8ff51ed4ceb3b</string>
</dict>
</plist>